*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: whitesmoke;
}
.location{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    

    align-items: center;
   
  
    
}
.Temperature{
    flex-direction: column;

 
    display: flex;

    align-items: center;
    justify-content: center;

  
}
.locatioh h1{
    display: inline;
}

#cityInput{
    width: 300px;
    height: 40px;
    box-shadow: 10px gray ;
    
}
#search{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}